<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>我的社区</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="img/community.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

    <div th:replace="navibar.html :: copy"></div>

    <div class="container-fluid" style="margin: 40px 100px">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2 style="border-bottom:#95a5a6 solid 2px"><span class="glyphicon glyphicon-list"></span>问题列表</h2>
                <div class="media" th:each="question:${pages.getRecords()}">
                    <div class="media-left">
                        <img class="media-object img-circle" height="30px" src="${question.avatarUrl}">
                    </div>
                    <div class="media-body" style="border-bottom: solid 1px #ecf0f1">
                        <a th:href="@{http://localhost:8787/questiondetail(questionId=${question.getId()})}">
                            <h4 class="media-heading" style="color: #34495e" th:text="${question.title}"></h4>
                        </a>
                        <span style="height: 18px;color: #e74c3c"><img src="/img/阅读.png" height="18px">
                            <span th:text="${question.readCount!=null}?${question.readCount}:0"></span>阅读·</span>
                        <span style="height: 18px;color: #f1c40f"><img src="/img/点赞.png" height="18px">
                            <span th:text="${question.likeCount!=null}?${question.likeCount}:0"></span>点赞·</span>
                        <span style="height: 18px;color: #16a085"><img src="/img/日期.png" height="18px">
                            <span th:text="${#dates.format(question.createTime,'yyyy年MMMdd日 HH时mm分')}"></span>发布</span>
                    </div>
                </div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li th:if="${pages.getCurrent() ge 2}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()-1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
<!--                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
                        <li th:if="${pages.getCurrent() gt 2}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()-2})}">
                                <span th:text="${pages.getCurrent()-2}"></span></a>
                        </li>
                        <li th:if="${pages.getCurrent() gt 1}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()-1})}">
                                <span th:text="${pages.getCurrent()-1}"></span></a>
                        </li>
                        <li  class="active">
                            <span th:text="${pages.getCurrent()}"></span></a>
                        </li>
                        <li th:if="${pages.getCurrent()+1 le pages.getPages()}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()+1})}">
                                <span th:text="${pages.getCurrent()+1}"></span></a>
                        </li>
                        <li th:if="${pages.getCurrent()+2 le pages.getPages()}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()+2})}">
                            <span th:text="${pages.getCurrent()+2}"></span></a>
                        </li>
                        <li th:if="${pages.getCurrent() lt pages.getPages()}">
                            <a th:href="@{http://localhost:8787/page(pageNum=${pages.getCurrent()+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <strong th:height="30px">热门话题</strong>
                </div>
            </div>
        </div>
    </div>
</body>
</html>